<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <div>
            <div class="form-group">
                <label class="form-control" for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name"/>
            </div>
            <input type="hidden" name="node" id="node"/>
            <input onclick="editPlanet()" class="btn btn-success form-control" type="submit"/>


        </div>
    </div>

    <script th:inline="javascript">
        document.getElementById("name").value = [[${planet.name}]];
        var planetNode = [[${planet.node}]];
        function editPlanet() {
            var planetName = document.getElementById("name").value;
            $.ajax({
                datatype: "json",
                type: "PUT",
                url: "/editPlanetPageSubmit",
                data: {node: planetNode, name: planetName},
                success: function (response) {
                    window.location.href = "/planetsList";
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        }
    </script>
</div>


</body>
</html>

