<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>Spring Framework Guru</h2>

                <h3>Spring Boot Web App</h3>
            </div>
        </div>
        <div class="row text-center">
            <img src="../../static/images/1.png" width="400"
                 th:src="@{/images/1.png}"/>
        </div>
    </div>

</div>
</body>
</html>